@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    background-color: #faf9f7;
    color: #666;
}

.displayflex {
    display: inline-block;
}

.centrado {
    text-align: center;
}

.alignleft {
    text-align: left;
}

.espacios {
    padding-top: 80px;
    padding-bottom: 80px;
}

.margins-small {
    margin-bottom: 20px;
}

.navbar {
    padding: 10px;
    transition: top 0.3s;
}

.navcontainer {
    max-width: 1400px;
}

.hero-container {
    max-width: 1600px;
}

.hero-section {
    width: 100%;
    background: #faf9f7;
    background: url(../images/main-hero-back.png)no-repeat center center fixed;
}

.hero-image1 {
    border-radius: 50px;
    max-width: 70%;
}

.hero-image2 {
    border-radius: 50px;
    max-width: 60%;
}

.hero-message {
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-message h1 {
    font-weight: bold;
    color: #3b625f;
    font-size: 2.5rem;
}

.hero-image {
    display: flex;
}

.main-message {
    background: #f7f2ef;
}

.main-message h1 {
    font-weight: bold;
    color: #3b625f;
}

.message-inner {
    padding-bottom: 100px;
    max-width: 650px;
}

.main-button-about {
    background: #f8aa97;
    padding: 18px;
    display: inline-block;
    justify-content: center;
    text-decoration: none;
    color: whitesmoke;
    border-radius: 15px;
    margin-top: 10px;
}

.message-inner__ {
    max-width: 600px;
}

.main-button-about:hover {
    background: #3b625f;
    color: whitesmoke;
}

.img-sesiones {
    margin: 15px;
    max-width: 70%;
}

.col-sm-4 .row {
    justify-content: center;
}

.row h4 {
    font-weight: bold;
    color: #3b625f;
}

.socials h1 {
    color: #3b625f;
    font-weight: bold;
}

.socials-text {
    max-width: 600px;
}

.only-footer {
    background: #f8cdc2;
    color: #666;
}

li {
    text-decoration: none;
    list-style: none;
    color: whitesmoke;
}

a {
    text-decoration: none;
    color: #fff;
    opacity: 1;
}

a:hover {
    color: #c54223;
}

.only-footer p {
    color: #c54223;
    font-weight: bold;
}

.footer-copyright {
    padding: 10px;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}

.my-float {
    margin-top: 16px;
}

@media (max-width:991px) {
    .hero-message, .hero-description {
        text-align: center;
    }
    .hero-image1 {
        max-width: 60%;
    }
    .img-sesiones {
        max-width: 60%;
    }
}