@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    background-color: #faf9f7;
}

.centrado {
    text-align: center;
}

.espacios {
    padding-top: 80px;
    padding-bottom: 80px;
}

.navbar {
    padding: 25px;
    transition: top 0.3s;
}

.navcontainer {
    max-width: 1400px;
}

.hero-container {
    max-width: 1600px;
}

.hero-section {
    width: 100%;
    background: #faf9f7;
    min-height: 100vh;
    background: url(../images/main-hero-back.png)no-repeat center center;
}

.hero-image2 {
    border-radius: 50px;
}

.hero-message {
    text-align: left;
    display: flex;
    align-items: center;
}

.hero-message h1 {
    font-weight: bold;
    color: #3b625f;
    font-size: 45px;
}

.hero-image {
    display: flex;
}

.main-message {
    background: #f5e9e7;
}

.main-message h1 {
    font-weight: bold;
    color: #3b625f;
    font-size: 45px;
}

.message-inner {
    padding: 100px;
}